*{
      padding: 0; 
      box-sizing: border-box;
      
      /*background-image: url(College.webp);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:cover ;*/
}
body{
    background: #ccd0cf;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background:linear-gradient(rgba(255, 255, 255, 0.08)) ;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    border-left:1px solid rgba(255, 255, 255, .3);
    border-top:1px solid rgba(255, 255, 255, .3) ;
}
h1{
    font-size: 50px;
    text-align: center;
    
}
label{
    font-size: 20px;
    margin-left: 10%;
   

}
input{
    width: 80%;
   
    background:linear-gradient(rgba(255, 255, 255, 0.08)) ;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

button,a{
     text-decoration: none;
    color: black;
    width: 50%;
    margin: 3% auto;
    font-size: 15px;
    
    padding: 10px 30px;
    border-radius: 25px;
    padding-bottom: 5px;
    cursor: pointer;
}
button:hover{
     background: rgba(255, 255, 255, 0.3);
}

.user{
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    
    width: auto;
    margin: 3% auto;
    font-size: 15px;
    
    text-align: center;
    
    
}
.user:hover{
    background-color: white;
}