*{background: #ccd0cf;}

  body{
    background: #ccd0cf;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


input:hover{
    cursor: pointer;
   
}
form{
   
    width: 25rem;
    height: 40rem;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background:linear-gradient(rgba(255, 255, 255, 0.08)) ;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    border-left:1px solid rgba(255, 255, 255, .3);
    border-top:1px solid rgba(255, 255, 255, .3) ;
}

h1{
    font-size: 30px;
    text-align: center;
}
label{
    font-size: 20px;
    margin-left: 10%;
   

}
input{
    
    background:linear-gradient(rgba(255, 255, 255, 0.08)) ;
    width: 80%;
    margin: 5% auto;
    margin-bottom: 8%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

    .submit-btn {
      display: block;
      width: auto;
      padding: 10px;
      text-align: center;
      margin: 3% auto;
      background: #28a745;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }
    .submit-btn:hover {
      background: #218838;
    }
